body{
  background-image: url(/doodles.png);
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
  margin: 0;
  height:100%;
}

.container {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}
/* .counter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: 10px solid black;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 300%;
} */

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom:200px; /* footer's height */
}
#footer {
width: 100%;
background-color: #4c66a4;
color: #fff;
position: absolute;
left: 0px;
bottom: 0px;
text-align: center;
}


.header {
  border: 15px solid black;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width: auto;
  left: 0 ; right: 0; bottom: 0; 
}
.my-tip{
  margin-top: 4%;
  line-height: 1.6;
  text-align: center;

}
.label{
  /* width: 50%; */
  text-align: center;

}
.Modal {
  position: absolute;
  top: 25%;
  text-align: center;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: auto;
  width: 40%;
  background-color: #799c96;
  border-radius: 5%;
}
.modal-close{
  width: 60%;
  margin-top: 10%;
}
.tip{
  margin-top: 6%;
}
.picture{
  height: 100%;
  width: 55%;
}
.about-frame{
  text-align: center;
  margin-top: 10%;
}
/* .about-text{
  margin-top: 5%;
  font-size: 80%;
}
.about{
  font-size: 80%;
}
.about-bio{
  font-size: 60%;
} */
.about-img{
  border: 20px solid black;
  box-shadow: 0 0 2px 40px rgba(0, 140, 186, 0.5);
}
.icon{
  color: black;
  margin-right: 2%;
  margin-left: 2%;
}
.counter-text{
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  .counter-text{
    font-size: 40%;
    font-style: center;
  }
  .picture{
    height: 100%;
    width: 80%;
  }
  .about-img{
    border: 5px solid black;
    box-shadow: 0 0 1px 10px rgba(0, 140, 186, 0.5);
  }
  .about-icon{
    font-size: 20%;
  }
  .about-text{
    margin-top: 4%;
  }
  .about-bio{
    font-size: 8px;
  }
  .about{
    font-size: 12px;
  }
  .icon{
    color: black;
    margin-right: 2%;
    margin-left: 2%;
  }
  
}